# 既に作成されている場合は確認してください
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Asset Storeからのアセット
/[Aa]ssets/[Aa]sset[Ss]tore[Tt]ools*

# Visual Studioのキャッシュフォルダ
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unityによって生成されたメタファイルは除外しない
*.pidb.meta
*.pdb.meta
*.mdb.meta

# クラッシュレポート
sysinfo.txt

# ビルド
*.apk
*.aab
*.unitypackage

# Crashlyticsによって生成されたファイル
crashlytics-build.properties
#Rider
.idea
